priority -60

snippet {} "" w
{${VISUAL}}
endsnippet

snippet () "" w
(${VISUAL})
endsnippet

snippet [] "" w
[${VISUAL}]
endsnippet

snippet <> "" w
<${VISUAL}>
endsnippet

snippet "" "" w
"${VISUAL}"
endsnippet

snippet '' "" w
'${VISUAL}'
endsnippet
